@import "vendor/font-awesome.min"
@import "bourbon/bourbon"

@import "mixins"
@import "type"
@import "animate"

@import "partials/menu"

@import "partials/loop"
@import "partials/main-content"
@import "partials/author"
@import "partials/post-social"
@import "partials/post-prev-next"
@import "partials/contact"

@import "nojs"

html,
body
    font-size: 55%
    height: 100%

.hide
    position: absolute !important
    top: -9999px !important
    left: -9999px !important

.overlay
    +linear-gradient(to bottom, rgba(23,23,23,0.2), rgba(27,27,27,0.9))
    height: 100%
    position: relative

.hero-twitter
    margin-top: 15px

.full
    height: 100%
    background-color: #333337

pre
    font-size: 16px
    overflow: auto
    word-wrap: normal
    white-space: pre
    margin-bottom: 30px !important

code
    color: #7f7f7f
    background-color: #f1f1f1
    font-family: monospace, monospace
    padding: 4px


