<div class="social-links">
    <a class="social-icon js-share-popup" href="#" data-platform="twitter" data-message="{{ page.social-message }}" data-url="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-twitter"></i></a>
    <a class="social-icon js-share-popup" href="#" data-platform="facebook" data-message="{{ page.social-message }}" data-url="{{ page.url | prepend: site.baseurl }}"><i class="fa fa-facebook-official"></i></a>
    <a class="social-icon js-share-popup" data-platform="mail"  href="mailto:youremail@mail.com?body={{site.utl}}{{ page.url | prepend: site.baseurl }}"><i class="fa fa-envelope"></i></a>
</div>
