h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif !important;
  line-height: 1.5;
}

h1 {
  font-weight: 800;
}

.text-light {
  font-weight: 300;
}

p, li {
  font-family: 'Roboto Slab', serif !important;
}

p, li {
  font-size: 18px;
}

h3 {
  margin-bottom: 20px;
}

h4 {
  line-height: 1.5 !important;
  margin-top: 30px;
}

ul {
  line-height: 1.7;
  list-style: none;
}

.extra-margin-bottom {
  margin-bottom: 40px !important;
}

section {
  margin: 20px 0;
  border-bottom: 1px solid #ccc;
  padding: 20px;
}

.container {
  max-width: 960px;
}

.emoji {
  max-width: 50px;
}

.avatar {
  display: block;
  max-width: 150px;
  margin: 0 auto;
}

.img-center {
  display: block;
  margin: 0 auto;
}

.extra-padding {
  padding-left: 50px;
  padding-right: 50px;
}

.email-box {
  background: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 3px #ccc;
}

.book-title {
  font-size: 42px;
  font-style: italic;
}

.book-preamble {
  margin-top: 40px;
}

.header, .footer {
  background: #f9f9f9;
  border-bottom: #ccc;
  box-shadow: 0 1px 3px #ccc;
}

.footer {
  padding: 20px;
  border-top: 1px solid #ccc;
}

.footer p {
  font-size: 14px;
}

.header h1 {
  color: #333;
}

.header h3 {
  color: #7f7f7f;
}

.row-content {
  margin: 50px 0;
}

.no-border {
  border-bottom: none !important;
}

.margin-top {
  margin-top: 15px;
}

.extra-padding {
  padding: 20px 0 20px 20px;
}

.text-sm {
  font-size: 14px;
}

.extra-top {
  position: relative;
  top: 15px;
}

i {
  color: #7f7f7f;
}