<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {% include head.html %}

  <body class="{% if layout.bodyclass %}{{ layout.bodyclass }}{% endif %}">
    {% include navigation.html %}

    {{ content }}

    <script type="text/javascript" src="{{ "/js/vendor/jquery-1.11.2.min.j" | prepend: site.baseurl }}s"></script>
    <script type="text/javascript" src="{{ "/js/vendor/modernizr.custom.32229-2.8-respondjs-1-4-2.js" | prepend: site.baseurl }}"></script>
    <script type="text/javascript" src="{{ "/js/vendor/jquery.jpanelmenu.min.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/js/vendor/fastclick.min.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/js/vendor/jquery.fitvids.js" | prepend: site.baseurl }}"></script>
    <script type='text/javascript' src="{{ "/js/vendor/prism.js" | prepend: site.baseurl }}"></script>
    {% if enable_retina %}
    <script type='application/javascript' src='{{ "/js/vendor/retina.min.js" | prepend: site.baseurl }}'></script>
    {% endif %}

    <script type="text/javascript" src="{{ "/js/index.js" | prepend: site.baseurl }}"></script>

  </body>

</html>
